@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  flex: 1;
  padding: 2rem 0;
}

footer {
  margin-top: auto;
}

a, .green {
  text-decoration: none;
  color: #036e4b;
  transition: 0.4s;
}
